@import 'normalize.css';
@import url('https://use.typekit.net/waz4tsx.css');

:root {
    --primary: rgba(254, 44, 85, 1);
    --text-color: #333;
    --white: #fff;
    --primary-opacity-0: rgba(254, 44, 85, 0);
    --primary-opacity-4: rgba(254, 44, 85, 0.04);
    --primary-opacity-8: rgba(254, 44, 85, 0.08);
    --primary-opacity-12: rgba(254, 44, 85, 0.12);
    //
    --default-layout-height: 60px;
    --default-layout-width: 1150px;
    --search-button-width: 52px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: ibm-plex-sans, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
}

input,
button {
    outline: none;
    border: none;
}

a[href] {
    text-decoration: none;
    color: var(--text-color);
}
